@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import "tailwindcss";

@plugin "daisyui";
* {
  font-family: "Poetsen One", sans-serif;
}


@plugin "daisyui/theme" {
  name: "light";
  
  --color-primary: #1d611d;  
  --color-secondary: #4caf50; 
  --color-base-200: #d8f5d8;  
  --color-base-300: #b7e4b7;  
  --color-accent: #6b8e23;    
  
}
 
