@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poetsen One", sans-serif;
}

/* CUSTOMIZED COLOUR */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #375b3b;   /* Dark green */
  --color-secondary: #4caf50; /* Medium green */
  --color-base-200: #d8f5d8;  /* Light minty green */
  --color-base-300: #b7e4b7;  /* Soft pastel green */
  --color-accent: #6b8e23;    /* Olive green */
}


